# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Guilherme Peres
	email = contact@gperes.dev
	signingkey = 1C37D403
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
